{% extends 'base.html' %}
{% load static %}

{% block pgname %}About{% endblock %}

{% block title %} Nicholas Vecoli - About {% endblock %}

{% block content %}

    <div class="about-wrap">

        <div class="about-image">
            <img class="about-img" src="{% static 'Images/about-image.jpg' %}">
        </div>

        <div class="about-text">
        <h2>ABOUT ME:</h2>
        <br>
        <p>
            Hello, my name is Nicholas Vecoli, I am in my final year completing a Bachelor of Information Technology at Deakin University. Areas of interest throughout my studies have been in programming, html and CSS and User design.
         </p>
         <br>
         <p>  
            Prior to this degree I completed a Diploma of Interactive Digital Media at RMIT University. This course taught me the value of designing and creating with an end user in mind to maximise functionality and aesthetic appeal. In conjunction with my I.T degree I believe that I have developed a skill set which maximises both form and function in the way that solutions can be addressed and ultimately met.  
        </p>
        <br> 
        <p>   
            In practicality, this has led to me attaining experience in many areas such as UI design, logo and typography design. Right now however I’m working on developing and improving on Web Development and DevOps skill sets as it’s where I ultimately see myself wanting to build a career. 
        </p>
    </div>

    
    </div>

    {% endblock %}

    <div id="footer">
        <p>&copy; Copyright 2023 - Nicholas Vecoli</p>
    </div>
    <script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>