{% extends 'base.html' %}
{% load static %}

{% block pgname %}CI/CD Project{% endblock %}

{% block title %} Nicholas Vecoli - CI/CD Project {% endblock %}

{% block content %}

<div class="cicd-wrap">

    <div class="about-image">
        <a href ="https://github.com/Nick-Vecoli/portfolioNV"><img class="repository-img" src="{% static 'Images/repository.png' %}"></a>
    </div>

    <div class="about-text">
    <h2>CONTINUOUS INTEGRATION AND CONTINUOUS DEPLOYMENT (CI/CD) PROJECT - DEVELOPING A PORTFOLIO WEBSITE:</h2>
    <br>
    <br>
    <br>
    <p>
    In this Continuous Integration and Continuous Deployment (CI/CD) project aimed at developing a portfolio website, my goal was not only to meet the project requirements within a given time frame but also to expand my skill set. The project provided valuable experience in troubleshooting, problem-solving, and creating a functional prototype of a project.
    </p>
    <br>
    </div>
    <div class="about-image">
    <img class="cicd-img" src="{% static 'Images/cicd1.png' %}">
    </div>
    <p>    
    To achieve this, I set up an EC2 instance on AWS with Red Hat Enterprise Linux (RHEL) and configured security groups to allow TCP connections from specific ports, such as port 80 and 443 for http/https, port 8080 for Jenkins, port 22 for SSH, port 5432 for Postgres and port 8000 for Django. I assigned a static IP address to the EC2 instance for easy SSH access and installed java-11-openjdk, a prerequisite for Jenkins installation. I created a Jenkins-admin user through the EC2 terminal to proceed with Jenkins installation.
    </p>
    <br>
    <img class="cicd-img" src="{% static 'Images/cicd3.png' %}">
    <p>    
    However, installing dependancies on the EC2 instance was more challenging than expected, as RHEL requires specific commands different to other Linux distributions to function correctly. After installing the correct dependancies, I set up and installed Django on the EC2 instance. As a lot of this was new to me, I used code, commands, and permission settings from various resources and Udemy courses. 
    </p>
    <br>
    <p>
    After registering the domain name, I pointed it to the static IP allocated on AWS using the domain management GUI. Incoming requests are picked up by Nginx, which listens actively on port 80 and port 443. Nginx then passes these requests onto the Gunicorn socket which acts as an application server for Django. Any requests going for "/jenkins" get forwarded to localhost port 8080 where Jenkins is listening. Finally, I obtained security certificates using Certbot to offer a secure (HTTPS) connection to the website.
    </p>
    <br>
    <p>    
    Additionally, I created a pipeline within Jenkins that would take any changes made from my local development server via a git pull and deploy them to the live server, making the process of updating and changing the webpage more fluid and automated.
    </p>
    <br>
    <img class="cicd-img" src="{% static 'Images/cicd2.png' %}">
    <p>    
    Looking forward, my 3-month plan for this web portfolio includes the addition of dynamic functionality in the form of a contact form that submits through a POST method within Django to save data to a database and send it to an email address. Currently, this functionality is in the development stage, and I need to address debugging issues to ensure its smooth implementation. Overall, this project provided an excellent opportunity to hone my skills in DevOps and CI/CD processes while also delivering a functional portfolio website.
    </p>

    </div>


</div>
{% endblock %}

<div id="footer">
    <p>&copy; Copyright 2023 - Nicholas Vecoli</p>
</div>
<script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>