{% extends 'base.html' %}
{% load static %}

{% block pgname %}Experience{% endblock %}

{% block title %} Nicholas Vecoli - Experience {% endblock %}

{% block content %}


        <div class="experience-wrap1">

            <div class="about-img1">
                <img class="experience-img" src="{% static '/Images/html.png' %}">
            </div>
            
            <div class="about-text"> 
            <br> 
            <h2>HTML5:</h2>
            <br>
            <p>
                
                Throughout my time at University, I have gained a fair amount of experience with HTML5. Through my Diploma and my bachelor’s degree I have completed a number of assignments that have focused on HTML5 in both a pragmatic functionality driven brief and also from a design and aesthetic perspective focusing on the UI design and accessibility of a website.
                In conjunction with this HTML was a key element in the design and buildout of my personal portfolio project.
 
            </p>
              
            </div>
        </div>

        <div class="experience-wrap">

            <div class="about-image1">
                <img class="experience-img" src="{% static '/Images/css.png' %}">
            </div>
            
            <div class="about-text">
            <h2>CSS:</h2>
            <br>
            <p>
                
                In conjunction with HTML5 I have had 2 years’ experience with CSS. This is also through a combination of design focused tasks set during my Diploma qualification to using CSS to develop efficiency and usability to a webpage and creating thoughtful design for functionality. 
                This can hopefully be seen through the following webpage design.

 
            </p>
             <br>
             <p>  
                
            </p>
            <br> 
            <p>   
             
            </p>
        </div>
    
        
        </div>

        <div class="experience-wrap">

            <div class="about-image1">
                <img class="experience-img" src="{% static '/Images/csharp.png' %}">
            </div>
            
            <div class="about-text">
            <h2>C#:</h2>
            <br>
            <p>
                
                C# is the programming language used primarily through my studies at Deakin University, as such this is my second year using C# as the programming language to undertake most formative assignments and programming challenges. This has helped developed my ability to take a design brief or specification and use C# to develop a solution that addresses this problem.
                Additionally, within this scope I have undertaken programming challenges using C# as a part of assessment and responsive problem-solving skill development.

 
            </p>
              
        </div>
        </div>

        <div class="experience-wrap">

            <div class="about-image1">
                <img class="experience-img" src="{% static '/Images/python.png' %}">
            </div>
            
            <div class="about-text">
            <h2>PYTHON:</h2>
            <br>
            <p>
                
                Python has been the most recent programming language I’ve been developing an understanding of. The versatility and popularity of it is the main reason I chose to make this portfolio website using the Python and Django framework. Through this process I have developed a foundational understanding of how python works and it’s ability to be easily compatible and usable in a variety of ways.

 
            </p>
              
        </div>
        </div>

        <div class="experience-wrap">

            <div class="about-image1">
                <img class="experience-img" src="{% static '/Images/django.png' %}">
            </div>
            
            <div class="about-text">
            <h2>DJANGO:</h2>
            <br>
            <p>
                
                In conjunction with learning python, I have built this web portfolio using the Django framework. This has helped develop my understanding of python as a programming language but also how it can be utilised as a tool to help with overall functionality and usability. 
                This project has been the foundation for developing and programming all back end functionality such as database design, admin functionality and contact page. 


 
            </p>
              
            </div>
        </div>

        <div class="experience-wrap">
            <div class="about-image1">    
            <img class="experience-img" src="{% static '/Images/aws.png' %}">
            </div>
        
            <div class="about-text">
            <h2>AWS:</h2>
            <br>
            <p>
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis nulla dolor, et scelerisque nunc feugiat vitae. Proin a suscipit nulla. Aliquam erat volutpat. Praesent eu faucibus arcu. Maecenas congue, lectus id sodales aliquam, dolor metus viverra sapien, quis mollis ante turpis et urna. Morbi nec ligula ullamcorper, suscipit nisl in, sagittis mauris. Nullam sodales sit amet eros non dictum. Nulla elementum, purus vitae sollicitudin auctor, quam leo placerat sapien, vel placerat nibh quam ut sem. Etiam vitae posuere leo, eget porta nisi. Morbi justo tellus, placerat sed elit et, condimentum finibus elit. Fusce massa nulla, semper non eleifend sed.



            </p>
          
            </div>
        </div>

    <div class="experience-wrap">
        <div class="about-image1">
        <img class="experience-img" src="{% static '/Images/jenkins.png' %}">
        </div>
    
        <div class="about-text">
        <h2>JENKINS:</h2>
        <br>
        <p>
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis nulla dolor, et scelerisque nunc feugiat vitae. Proin a suscipit nulla. Aliquam erat volutpat. Praesent eu faucibus arcu. Maecenas congue, lectus id sodales aliquam, dolor metus viverra sapien, quis mollis ante turpis et urna. Morbi nec ligula ullamcorper, suscipit nisl in, sagittis mauris. Nullam sodales sit amet eros non dictum. Nulla elementum, purus vitae sollicitudin auctor, quam leo placerat sapien, vel placerat nibh quam ut sem. Etiam vitae posuere leo, eget porta nisi. Morbi justo tellus, placerat sed elit et, condimentum finibus elit. Fusce massa nulla, semper non eleifend sed.



        </p>
      
        </div>
    </div>

    {% endblock %}

    <div id="footer">
        <p>&copy; Copyright 2023 - Nicholas Vecoli</p>
    </div>
    <script src="{% static 'javascript/script.js' %}"></script>
    </body>
</html>