{% extends 'base.html' %}
{% load static %}

{% block pgname %}Experience{% endblock %}

{% block title %} Nicholas Vecoli - Experience {% endblock %}

{% block content %}


        <div class="experience-wrap1">

            <div class="about-img1">
                <img class="experience-img" src="{% static '/Images/html.png' %}">
            </div>
            
            <div class="about-text"> 
            <br> 
            <h2>HTML5:</h2>
            <br>
            <p>
                
                Throughout my time at University, I have gained a fair amount of experience with HTML5. Through my Diploma and my bachelor’s degree I have completed a number of assignments that have focused on HTML5 in both a pragmatic functionality driven brief and also from a design and aesthetic perspective focusing on the UI design and accessibility of a website.
                In conjunction with this HTML was a key element in the design and buildout of my personal portfolio project.
 
            </p>
              
            </div>
        </div>

        <div class="experience-wrap">

            <div class="about-image1">
                <img class="experience-img" src="{% static '/Images/css.png' %}">
            </div>
            
            <div class="about-text">
            <h2>CSS:</h2>
            <br>
            <p>
                
                In conjunction with HTML5 I have had 2 years’ experience with CSS. This is also through a combination of design focused tasks set during my Diploma qualification to using CSS to develop efficiency and usability to a webpage and creating thoughtful design for functionality. 
                This can hopefully be seen through the following webpage design.

 
            </p>
             <br>
             <p>  
                
            </p>
            <br> 
            <p>   
             
            </p>
        </div>
    
        
        </div>

        <div class="experience-wrap">

            <div class="about-image1">
                <img class="experience-img" src="{% static '/Images/csharp.png' %}">
            </div>
            
            <div class="about-text">
            <h2>C#:</h2>
            <br>
            <p>
                
                C# is the programming language used primarily through my studies at Deakin University, as such this is my second year using C# as the programming language to undertake most formative assignments and programming challenges. This has helped developed my ability to take a design brief or specification and use C# to develop a solution that addresses this problem.
                Additionally, within this scope I have undertaken programming challenges using C# as a part of assessment and responsive problem-solving skill development.

 
            </p>
              
        </div>
        </div>

        <div class="experience-wrap">

            <div class="about-image1">
                <img class="experience-img" src="{% static '/Images/python.png' %}">
            </div>
            
            <div class="about-text">
            <h2>PYTHON:</h2>
            <br>
            <p>
                
                Python has been the most recent programming language I’ve been developing an understanding of. The versatility and popularity of it is the main reason I chose to make this portfolio website using the Python and Django framework. Through this process I have developed a foundational understanding of how python works and it’s ability to be easily compatible and usable in a variety of ways.

 
            </p>
              
        </div>
        </div>

        <div class="experience-wrap">

            <div class="about-image1">
                <img class="experience-img" src="{% static '/Images/django.png' %}">
            </div>
            
            <div class="about-text">
            <h2>DJANGO:</h2>
            <br>
            <p>
                
                In conjunction with learning python, I have built this web portfolio using the Django framework. This has helped develop my understanding of python as a programming language but also how it can be utilised as a tool to help with overall functionality and usability. 
                This project has been the foundation for developing and programming all back end functionality such as database design, admin functionality and contact page. 


 
            </p>
              
            </div>
        </div>

        <div class="experience-wrap">
            <div class="about-image1">    
            <img class="experience-img" src="{% static '/Images/aws.png' %}">
            </div>
        
            <div class="about-text">
            <h2>AWS:</h2>
            <br>
            <p>
            
                I have started using AWS This year as a part of my cloud computing modules within my University studies. The modules focus on everything from hosting on EC2 instances, to creating security exceptions and storage solutions. 
                I have also used AWS as the infrastructure for hosting this website, which is running a t2 micro virtual machine that’s hosts the file structure and the Jenkins application and pipeline
                

            </p>
          
            </div>
        </div>

    <div class="experience-wrap">
        <div class="about-image1">
        <img class="experience-img" src="{% static '/Images/jenkins.png' %}">
        </div>
    
        <div class="about-text">
        <h2>JENKINS:</h2>
        <br>
        <p>
        
            My knowledge and use of Jenkins has been entirely within the scope of this portfolio project. Currently the Jenkins being hosted on my EC2 has a pipeline which pulls changes made to my Git repository and reintegrates them to the files being hosted on the EC2.
            This allows for a CI/CD approach to the project.
            



        </p>
      
        </div>
    </div>

    {% endblock %}

    <div id="footer">
        <p>&copy; Copyright 2023 - Nicholas Vecoli</p>
    </div>
    <script src="{% static 'javascript/script.js' %}"></script>
    </body>
</html>