{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        body{
            background-image: url("{% static '/Images/nvecoli.jpg' %}") !important
        }
        </style>
    <title>{% block pgname %}{% endblock %}</title>
</head>
<body>

    <header class="hero">
        <div id="main-header">
            <!-- Headings -->
                <img class="logo" src="{% static '/Images/logo.png' %}" alt="My Logo">
            <h1 class="title">    
                {% block title %}{% endblock %}
            </h1>
    
            <!-- Hamburger icon-->
    
            <img class="hamburger-icon" id="hamburger-icon" src="{% static 'Images/nav-icon.png' %}">
    
        <nav id="nav-bar" class="nav-bar">
    
            <!-- Nav Bar List -->
    
            <ul class="nav" id="nav">
                <li><a class="nav" href="{% url 'index' %}">Home</a></li>
                <li><a class="nav" href="{% url 'experience' %}">Experience</a></li>
                <li><a class="nav" href="{% url 'cicd' %}">CI/CD</a></li>
                <li><a class="nav" href="{% url 'resume' %}">Resume</a></li>
                <li><a class="nav" href="{% url 'about' %}">About</a></li>
              
                
            </ul>
    
        </nav>
        </div>
        </header>

        {% block content %}
        
        {% endblock %}

    
    <div id="footer">
        <p>&copy; Copyright 2023 - Nicholas Vecoli</p>
    </div>
    <script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>